.overlay {
	position: absolute;
	padding: 10px;
	z-index: 1000;
	top: 0;
	width: 100%;
	box-sizing: border-box;
}

.overlay .panel {
	background-color: #FAFAFA;
	padding: 10px 20px;
	font-size: 12px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26);
	white-space: nowrap;
	margin: 0 10px 10px 0;
	display: inline-block;
	vertical-align: top;
}

.overlay .panel .subtitle {
	padding: 5px 0;
	font-size: 1.1em;
}

.overlay .panel.right {
	float: right;
	margin: 0 0 10px 10px;
}

.fatal_error {
	display: block !important;
	background-color: #FFCCBC !important;
	cursor: default;
}

#new_tag_form {
	margin-bottom: 10px;
}

#new_tag_form input {
	margin-bottom: 5px;
	width: 160px;
	box-sizing: border-box;
}

#keymap .node {
	margin-bottom: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-user-select: none;
	cursor: pointer;
	line-height: 21px;
}

#keymap .node.level0 {
	width: 160px;
}
#keymap .node.level1 {
	padding-left: 15px;
	width: 145px;
}
#keymap .node.level2 {
	padding-left: 55px;
	width: 105px;
}

#keymap .node.selected {
	background-color: #CFD8DC;
}

#keymap .node .key {
	padding: 2px;
	background-color: #607D8B;
	color: #FAFAFA;
	display: inline-block;
	width: 20px;
	text-align: center;
	margin-right: 5px;
	line-height: 17px;
}

#keymap .node.current {
	font-weight: bold;
}

#keymap .node.current .key {
	font-weight: normal;
	background-color: #455A64;
}

#keymap.compact .node {
	line-height: 17px;
	margin-bottom: 0;
}

#keymap.compact .node .key {
	padding: 0 2px;
}

#keymap.tiny .node {
	font-size: .8em;
	line-height: 13px;
}

#keymap.tiny .node .key {
	line-height: 13px;
}

#current_file_panel > span {
	margin-right: 10px;
}

#current_file_panel > span:last-child {
	margin-right: 0;
}

#current_file_name.selected {
	font-weight: bold;
}

#selection {
	margin-top: 15px;
}

#selection_panel #selection {
	margin-top: 0;
}

.media {
	border: none;
	display: block;
}

#current_image {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26);
	/*noinspection CssInvalidPropertyValue*/
	filter: FlipH;
}

#current_frame {
	box-sizing: border-box;
	padding-left: 220px;
	padding-top: 57px;
}

#loading_indicator:after {
	content: "☆";
}

#loading_indicator.active:after {
	content: "★";
}
