.overlay {
	position: absolute;
	padding: 10px;
	z-index: 1000;
	top: 0;
	width: 100%;
	box-sizing: border-box;
}

.overlay .panel {
	background-color: #FAFAFA;
	padding: 10px 20px;
	font-size: 12px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26);
	white-space: nowrap;
	margin: 0 10px 10px 0;
	display: inline-block;
	vertical-align: top;
}

.overlay .panel .subtitle {
	padding: 5px 0;
	font-size: 1.1em;
}

.overlay .panel.right {
	float: right;
	margin: 0 0 10px 10px;
}

.fatal_error {
	display: block !important;
	background-color: #FFCCBC !important;
	cursor: default;
}

#disabled_overlay {
	display: none;
}

#new_tag_form {
	margin-bottom: 10px;
}

#new_tag_form input {
	margin-bottom: 5px;
	width: 160px;
	box-sizing: border-box;
}

#keymap .node {
	margin-bottom: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-user-select: none;
	cursor: pointer;
	line-height: 21px;
}

#keymap .node.level0,
#keymap .node.level1 {
	width: 160px;
}

#keymap .node.level2 {
	padding-left: 45px;
	width: 115px;
}

#keymap .node.level3 {
	padding-left: 60px;
	width: 100px;
}

#keymap .node.selected {
	background-color: #CFD8DC;
}

#keymap .node .key {
	padding: 2px 3px 2px 2px;
	background-color: #607D8B;
	color: #FAFAFA;
	display: inline-block;
	width: 20px;
	text-align: center;
	margin-right: 5px;
	line-height: 17px;
}

#keymap .node .key:hover {
	background-color: #455A64;
}

#keymap .node.current {
	font-weight: bold;
}

#keymap .node.current .key {
	font-weight: normal;
}

#keymap.compact .node {
	line-height: 17px;
	margin-bottom: 0;
}

#keymap.compact .node .key {
	padding: 0 3px 0 2px;
}

#keymap.tiny .node {
	font-size: .8em;
	line-height: 13px;
}

#keymap.tiny .node .key {
	padding: 0 3px 0 2px;
	line-height: 13px;
}

#keymap.tiniest .node {
	font-size: .75em;
	line-height: 10px;
}

#keymap.tiniest .node .key {
	padding: 0 3px 0 2px;
	line-height: 10px;
}

#current_file_panel > span {
	margin-right: 10px;
}

#current_file_panel > span:last-child {
	margin-right: 0;
}

#current_file_name.selected {
	font-weight: bold;
}

#selection {
	margin-top: 15px;
}

#selection_panel #selection {
	margin-top: 0;
}

.media {
	border: none;
	display: block;
}

#current_image {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26);
	/*noinspection CssInvalidPropertyValue*/
	filter: FlipH;
}

#current_frame, #current_flash {
	box-sizing: border-box;
	padding-left: 220px;
	padding-top: 57px;
}

#current_flash {
	text-align: center;
}

#system_panel .status {
	display: inline-block;
	line-height: 27px;
	vertical-align: top;
	margin: 1px 16px 0 0;
}

#system_panel .action-icon {
	margin: 6px 0 3px;
}

#sorting_indicator:before {
	content: "↓";
}

#loading_indicator:after {
	content: "☆";
}

#loading_indicator.active:after {
	content: "★";
}

#bookmarks_panel {
}

#bookmarks_panel .title {
	text-align: right;
}

#bookmarks_panel form input {
	box-sizing: border-box;
	width: 100%;
}

#bookmarks_panel form {
	display: none;
	border-top: 1px solid #BBB;
	padding: 10px 20px 0 20px;
	margin: 10px -20px 0 -20px;
	box-sizing: border-box;
}

#bookmarks_panel .title select {
	padding: 5px 10px;
	margin-right: 20px;
	min-width: 250px;
}

#bookmarks_panel .title * {
	vertical-align: top;
}

#bookmarks_panel .title .action-icon {
	margin-top: 6px;
}

#bookmarks_panel .list {
	border-top: 1px solid #BBB;
	max-height: 500px;
	margin: 10px -20px 0 -20px;
	padding: 5px 10px 2px 20px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#bookmarks_panel .index {
	margin-left: 10px;
}

#bookmarks_panel .index:before {
	content: "#";
}

#bookmarks_panel .current .bookmark {
	font-weight: bold;
}
